<div>
  <button (click)="copyToClipboard()">copy</button>
</div>

<table>
  <tbody cdkDropList (cdkDropListDropped)="movePrompt($event)">
    <tr *ngFor="let prompt of prompts" cdkDrag>
      <td class="draggable" cdkDragHandle>{{ prompt.text }}</td>
      <td><button (click)="increment(prompt)">+</button></td>
      <td><button (click)="decrement(prompt)">-</button></td>
      <td><button (click)="remove(prompt)">x</button></td>
      <td><button (click)="openDeepl(prompt)">deepl</button></td>
    </tr>
  </tbody>
</table>
